.chat-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
  padding-top: 15px;
}

.header {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

.messages {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

.user {
  font-weight: bold;
}

.new-message-form {
  display: flex;
}

.new-message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

.send-button {
  padding: 10px 20px;
  background-color: pink;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .chat-app {
    padding: 10px;
  }
}
