.redessociales {
  background-color: #dedddd71;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
}
.redessociales {
  text-align: center;
}
.copy {
  text-align: center;
  padding-top: 20px;
}
.email {
  text-align: center;
}
.footer {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
  background-color: #f3f3f3 !important;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.footer a {
  color: #495057;
  text-decoration: none;
}

.footer a:hover {
  color: #212529;
  text-decoration: underline;
}

.footernavbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footernav-item {
  margin-right: 10px;
}

.redessociales p {
  margin-bottom: 10px;
}

.list-unstyled {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.d-flexiconosredes {
  list-style-type: none;
  display: flex;
}

.d-flexiconosredes li {
  margin-right: 10px;
}

.logoEuro {
  margin-top: -30px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.logoBiz {
  margin-bottom: 7px;
  margin-right: 40px;
}

#iconos {
  margin-right: 5px;
}
/* .redessociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  gap: 10px;

  width: 360px;
  height: 259px;
  left: calc(50% - 360px / 2 - 23px);
  top: 69px;

  background: #ffffff;
} */
