.containerUserProfile {
  font-family: "Raleway", sans-serif;
}

.titulo-userProfile {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.bton-volver-fo {
  margin-top: -79px;
  margin-left: 20px;
  margin-bottom: 80px;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 287px;
  height: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.form-control1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 320px;
  background: #ffffff;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.btn-userProfile {
  padding: 10px 20px;
  background-color: #009ec3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.text-form {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.buzon-cat {
  margin-top: 30px;
}
