.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  background: linear-gradient(30deg, #fff, #29b6d650);
  background-color: #00726844;
}

p {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
  color: #009ec3;
  text-decoration: none;
}

.botonHOmeL {
  padding: 10px 20px;
  background-color: #009ec3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
