.botonTramites {
  background-color: #008dae;
}

.textoStart {
  text-decoration: none;
}

.botonHogar {
  background-color: #ffcd3d;
}

.botonMovilidad {
  background-color: #ed6054;
}

.botonInfo {
  background-color: none;
}
