/* App.css */

/* Estilos generales */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

/*  Barra de navegación
nav {
  background-color: #f3f3f3;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: #333;
  text-decoration: none;
} */

/* Contenedor principal */
/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */

/*Video*/
/* .video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
} */

/* .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */

/* .video-container .logo {
  position: absolute;
  top: 10px;  //Ajusta esta propiedad para definir la posición vertical del logo 
  left: 10px; 
  z-index: 1;
}*/

/* Chat */
/* .chat-app {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
 */
.header {
  margin-bottom: 20px;
}

/* .messages {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
} */

/* .message {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
} */

/* .user-message {
  background-color: #eef6ff;
}
 */
/* .user {
  font-weight: bold;
} */

/* .new-message-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
} */

/* .new-message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
} */

/* .send-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* Sala de chat */
.room {
  text-align: center;
}

/* .room-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
} */

/* .room-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 */
/* .room-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
} */

/* Cierre de sesión */
/* .sign-out {
  text-align: center;
  margin-top: 20px;
} */

/*CSS consejos*/
/* .consejos {
  margin: 20px;
  text-align: center;
} */

/* .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
} */

/* .box {
  border-radius: 5px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
} */

.iconChatMo {
  color: #fff;
  border: 0.5px solid #ed6054;
  background-color: #ed6054;
  border-radius: 10px;
  display: flex;
  margin: auto;
  cursor: pointer;
  margin-bottom: 5%;
}

.iconChatMo p {
  color: black;
  font-size: 20px;
  padding: 20px;
  right: 50px;
  background-color: #fff;
  margin: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.iconChatMo img {
  background-color: #ed6054;
  padding: 10px;
  border-radius: 16%;
}

#iconos {
  display: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }
}
