.header {
  margin-bottom: 20px;
}

.iconChatMo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 23px;

  width: 302px;
  height: auto;

  background: #fdfdfd;
  color: black;
  border: 1px solid #ed6054;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
}

.iconChatMo p {
  font-size: 20px;
}

.iconChatMo img {
  background-color: #ed6054;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: auto;
  width: 50px;
}

.botonChatTa {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 23px;

  width: 302px;
  height: auto;

  background: #fdfdfd;
  color: black;
  border: 1px solid #008dae;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
}

.botonChatTa p {
  font-size: 20px;
}
.botonChatHo p {
  font-size: 19px;
}

.botonChatTa img {
  background-color: #008dae;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: auto;
  width: 50px;
}

.botonChatHo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 23px;
  font-size: 20px;
  width: 302px;
  height: auto;

  background: #fdfdfd;
  color: black;
  border: 1px solid #ffcd3d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
}

.botonChatHo img {
  background-color: #ffcd3d;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: auto;
  width: 50px;
}

#iconos {
  display: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.frase-app {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.bton-volver {
  margin-top: -40px;
  margin-left: 20px;
  margin-bottom: 70px;
}

p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }
}
